<div class="card-body">
    <ul class="timeline">

        <li class="timeline-inverted">

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Simple Application using Android Studio</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/-F8LepUlKFQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
    <ul class="timeline">

        <li class="timeline-inverted">

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Simple Application using Android Studio</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/-F8LepUlKFQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
    <ul class="timeline">

        <li class="timeline-inverted">

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Simple Application using Android Studio</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/-F8LepUlKFQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
    <ul class="timeline">

        <li class="timeline-inverted">

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Simple Application using Android Studio</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/-F8LepUlKFQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
    <ul class="timeline">

        <li class="timeline-inverted">

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Simple Application using Android Studio</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/-F8LepUlKFQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
</div>

