<div class="contact-profile">
                 
    <i class="fa fa-plus fa-fw img_header_plus" aria-hidden="true"></i>
    <i class="fa fa-clock fa-fw img_header_plus" aria-hidden="true"></i>
    <p>Active Learning</p>
  </div>
<div class="card-body">
    <ul class="timeline">

        <li class="timeline-inverted" *ngFor="activity of activities">

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{activity.payload.doc.data().title}}
                          <i class="fa fa-edit"></i>
                          <i class="fa fa-remove"></i>
                  </h4>                 
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                     src="{{activity.payload.doc.data().url}}">
                    allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>

</div>

